File: Amazon Sale Report.csv

Column name	- Description

Category -	Type of product. (String)

Size -	Size of the product. (String)

Date -	Date of the sale. (Date)

Status -	Status of the sale. (String)

Fulfilment -	Method of fulfilment. (String)

Style -	Style of the product. (String)

SKU -	Stock Keeping Unit. (String)

ASIN -	Amazon Standard Identification Number. (String)

Courier Status -	Status of the courier. (String)

Qty -	Quantity of the product. (Integer)

Amount -	Amount of the sale. (Float)

B2B -	Business to business sale. (Boolean)

Currency -	The currency used for the sale. (String)

<h2>Importing Libraries </h2>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data

In [2]:
amazon = pd.read_csv('Amazon Sale Report.csv')
amazon.head(5)

C:\Users\plcha\AppData\Local\Temp\ipykernel_17112\2230152034.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  amazon = pd.read_csv('Amazon Sale Report.csv')

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [3]:
amazon.head(5)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [4]:
amazon.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

<h2>.shape shows the number of rows and columns in a dataset</h2>

In [5]:
amazon.shape

(128975, 24)

# EDA

In [6]:
#.info() command shows the datatypes and non-null values for each column in data set
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

# Check duplicates

In [7]:
print(amazon.duplicated().value_counts())

False    128975
dtype: int64

No duplicates rows were found in a dataset

# Summary

In [8]:
amazon.describe()

               index            Qty         Amount  ship-postal-code
count  128975.000000  128975.000000  121180.000000     128942.000000
mean    64487.000000       0.904431     648.561465     463966.236509
std     37232.019822       0.313354     281.211687     191476.764941
min         0.000000       0.000000       0.000000     110001.000000
25%     32243.500000       1.000000     449.000000     382421.000000
50%     64487.000000       1.000000     605.000000     500033.000000
75%     96730.500000       1.000000     788.000000     600024.000000
max    128974.000000      15.000000    5584.000000     989898.000000

<p>The graphs of Amount and Qty illustrate from histogram plots that there are no outliners in dataset and those few minor data points are also valid.
It is necessary to identify outliners in the dataframse as it can effect unaccurate results from analysis.</p>

# Null value check

In [9]:
#Checking null values in entire dataset.
amazon.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

<h2>Duplicates and Missing Data</h2>

In [10]:
amazon.nunique()

index                 128975
Order ID              120378
Date                      91
Status                    13
Fulfilment                 2
Sales Channel              2
ship-service-level         2
Style                   1377
SKU                     7195
Category                   9
Size                      11
ASIN                    7190
Courier Status             3
Qty                       10
currency                   1
Amount                  1410
ship-city               8955
ship-state                69
ship-postal-code        9459
ship-country               1
promotion-ids           5787
B2B                        2
fulfilled-by               1
Unnamed: 22                1
dtype: int64

In [11]:
amazon.apply(pd.unique)

index                 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
Order ID              [405-8078784-5731545, 171-9198151-1101146, 404...
Date                  [04-30-22, 04-29-22, 04-28-22, 04-27-22, 04-26...
Status                [Cancelled, Shipped - Delivered to Buyer, Ship...
Fulfilment                                           [Merchant, Amazon]
Sales Channel                                   [Amazon.in, Non-Amazon]
ship-service-level                                [Standard, Expedited]
Style                 [SET389, JNE3781, JNE3371, J0341, JNE3671, SET...
SKU                   [SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X...
Category              [Set, kurta, Western Dress, Top, Ethnic Dress,...
Size                   [S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Free]
ASIN                  [B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7...
Courier Status                     [nan, Shipped, Cancelled, Unshipped]
Qty                                    [0, 1, 2, 15, 3, 9, 13, 5, 4, 8]
currency                                                     [INR, nan]
Amount                [647.62, 406.0, 329.0, 753.33, 574.0, 824.0, 6...
ship-city             [MUMBAI, BENGALURU, NAVI MUMBAI, PUDUCHERRY, C...
ship-state            [MAHARASHTRA, KARNATAKA, PUDUCHERRY, TAMIL NAD...
ship-postal-code      [400081.0, 560085.0, 410210.0, 605008.0, 60007...
ship-country                                                  [IN, nan]
promotion-ids         [nan, Amazon PLCC Free-Financing Universal Mer...
B2B                                                       [False, True]
fulfilled-by                                           [Easy Ship, nan]
Unnamed: 22                                                [nan, False]
dtype: object

In [12]:
before_remove_duplicates = len(amazon)
print(before_remove_duplicates)

128975

In [13]:
x = amazon.drop_duplicates(inplace = True)
print(x)

None

# Missing value treatment

<h2>Dropping Missing Values</h2>

<h2>Fill missing values with .fillna()</h2>
<ol>
    <li>Fill with provided value</li>
    <li>Use a summary statistic</li>
</ol>

In [14]:
#Count missing values of eack columns
amount_null_value = amazon['Amount'].isnull().sum()
amount_null_value

7795

In [15]:
amazon['Amount'].fillna(0, inplace = True)

In [16]:
amazon['promotion-ids'].fillna('no promotion', inplace = True)

In [17]:
amazon['Courier Status'].fillna('unknown', inplace = True)
amazon['ship-city'].fillna('unknown', inplace = True)
amazon['ship-state'].fillna('unknown', inplace = True)
amazon['ship-postal-code'].fillna('unknown', inplace = True)

In [18]:
amazon.drop(columns = ['Unnamed: 22','fulfilled-by','ship-country', 'currency','Sales Channel '], inplace = True)

In [19]:
mapper = {'Order ID':'orderID', 'Date':'date', 'Status':'shipStatus','Fullfilment':'fullfilment', 'ship-service-level':'serviceLevel', 'Style':'style', 'SKU':'sku', 'Category':'productCategory', 'Size':'size', 'ASIN':'asin', 'Courier Status':'courierStatus', 'Qty':'orderQuantity', 'Amount':'orderAmount (INR)', 'ship-city':'city', 'ship-state':'state', 'ship-postal-code':'zip', 'promotion-ids':'promotion','B2B':'customerType' }
amazon.rename(columns = mapper, inplace = True)
amazon.head()

,index,orderID,date,shipStatus,Fulfilment,serviceLevel,style,sku,productCategory,size,asin,courierStatus,orderQuantity,orderAmount (INR),city,state,zip,promotion,customerType
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,unknown,0,647.62,MUMBAI,MAHARASHTRA,400081.0,no promotion,False
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,False
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,unknown,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,no promotion,False
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,no promotion,False

In [20]:
amazon['customerType'].replace([True, False], ['business', 'consumer'], inplace = True)
amazon.head()

,index,orderID,date,shipStatus,Fulfilment,serviceLevel,style,sku,productCategory,size,asin,courierStatus,orderQuantity,orderAmount (INR),city,state,zip,promotion,customerType
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,unknown,0,647.62,MUMBAI,MAHARASHTRA,400081.0,no promotion,consumer
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,consumer
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,business
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,unknown,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,no promotion,consumer
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,no promotion,consumer

<h2>Cheking the null values in data set</h2>

In [21]:
#the any() function combined with isnull() returns all of the rows that have a null value.
null_set = amazon[amazon.isnull().any(axis = 1)]
null_set.head()

Empty DataFrame
Columns: [index, orderID, date, shipStatus, Fulfilment, serviceLevel, style, sku, productCategory, size, asin, courierStatus, orderQuantity, orderAmount (INR), city, state, zip, promotion, customerType]
Index: []

In [22]:
amazon.isnull().sum()

index                0
orderID              0
date                 0
shipStatus           0
Fulfilment           0
serviceLevel         0
style                0
sku                  0
productCategory      0
size                 0
asin                 0
courierStatus        0
orderQuantity        0
orderAmount (INR)    0
city                 0
state                0
zip                  0
promotion            0
customerType         0
dtype: int64

No null row exsists

In [23]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128975 entries, 0 to 128974
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   index              128975 non-null  int64
 1   orderID            128975 non-null  object
 2   date               128975 non-null  object
 3   shipStatus         128975 non-null  object
 4   Fulfilment         128975 non-null  object
 5   serviceLevel       128975 non-null  object
 6   style              128975 non-null  object
 7   sku                128975 non-null  object
 8   productCategory    128975 non-null  object
 9   size               128975 non-null  object
 10  asin               128975 non-null  object
 11  courierStatus      128975 non-null  object
 12  orderQuantity      128975 non-null  int64
 13  orderAmount (INR)  128975 non-null  float64
 14  city               128975 non-null  object
 15  state              128975 non-null  object
 16  zip                128975 non-null  object
 17  promotion          128975 non-null  object
 18  customerType       128975 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 19.7+ MB

<h2>3. Converting Datatypes</h2>

<h2>Checking Data Types from Data Frames</h2>

In [24]:
print(amazon.dtypes)

index                  int64
orderID               object
date                  object
shipStatus            object
Fulfilment            object
serviceLevel          object
style                 object
sku                   object
productCategory       object
size                  object
asin                  object
courierStatus         object
orderQuantity          int64
orderAmount (INR)    float64
city                  object
state                 object
zip                   object
promotion             object
customerType          object
dtype: object

In [25]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128975 entries, 0 to 128974
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   index              128975 non-null  int64
 1   orderID            128975 non-null  object
 2   date               128975 non-null  object
 3   shipStatus         128975 non-null  object
 4   Fulfilment         128975 non-null  object
 5   serviceLevel       128975 non-null  object
 6   style              128975 non-null  object
 7   sku                128975 non-null  object
 8   productCategory    128975 non-null  object
 9   size               128975 non-null  object
 10  asin               128975 non-null  object
 11  courierStatus      128975 non-null  object
 12  orderQuantity      128975 non-null  int64
 13  orderAmount (INR)  128975 non-null  float64
 14  city               128975 non-null  object
 15  state              128975 non-null  object
 16  zip                128975 non-null  object
 17  promotion          128975 non-null  object
 18  customerType       128975 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 19.7+ MB

<h2>Datetime data loaded as String</h2>
<p><b>As you can see that the column Date data type is object as string it shoould be converted to DateTime within the Dataframe</b></p>

<h2>Converting Column Date data type from String to Datetime </h2>

In [26]:
#Converting String to Datetime
amazon['date'] = pd.to_datetime(amazon['date'])
amazon['date'].head(4)

0   2022-04-30
1   2022-04-30
2   2022-04-30
3   2022-04-30
Name: date, dtype: datetime64[ns]

In [27]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128975 entries, 0 to 128974
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   index              128975 non-null  int64
 1   orderID            128975 non-null  object
 2   date               128975 non-null  datetime64[ns]
 3   shipStatus         128975 non-null  object
 4   Fulfilment         128975 non-null  object
 5   serviceLevel       128975 non-null  object
 6   style              128975 non-null  object
 7   sku                128975 non-null  object
 8   productCategory    128975 non-null  object
 9   size               128975 non-null  object
 10  asin               128975 non-null  object
 11  courierStatus      128975 non-null  object
 12  orderQuantity      128975 non-null  int64
 13  orderAmount (INR)  128975 non-null  float64
 14  city               128975 non-null  object
 15  state              128975 non-null  object
 16  zip                128975 non-null  object
 17  promotion          128975 non-null  object
 18  customerType       128975 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(15)
memory usage: 19.7+ MB

Column date datatye which was string has been converted to datetime.

In [28]:
#The columns having float points nearer to be round upto 1 decimal places 
amazon = np.round(amazon, decimals = 1)
amazon.head(4)

,index,orderID,date,shipStatus,Fulfilment,serviceLevel,style,sku,productCategory,size,asin,courierStatus,orderQuantity,orderAmount (INR),city,state,zip,promotion,customerType
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,unknown,0,647.6,MUMBAI,MAHARASHTRA,400081.0,no promotion,consumer
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.0,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,consumer
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,business
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,unknown,0,753.3,PUDUCHERRY,PUDUCHERRY,605008.0,no promotion,consumer

The column 	orderAmount (INR) has been rounded to 1 decimal places in a dataset.

In [29]:
#Placing orderID in first column
amazon.set_index('orderID', inplace = True)
amazon.head(4)

,index,date,shipStatus,Fulfilment,serviceLevel,style,sku,productCategory,size,asin,courierStatus,orderQuantity,orderAmount (INR),city,state,zip,promotion,customerType
orderID,,,,,,,,,,,,,,,,,,
405-8078784-5731545,0,2022-04-30,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,unknown,0,647.6,MUMBAI,MAHARASHTRA,400081.0,no promotion,consumer
171-9198151-1101146,1,2022-04-30,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.0,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,consumer
404-0687676-7273146,2,2022-04-30,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,business
403-9615377-8133951,3,2022-04-30,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,unknown,0,753.3,PUDUCHERRY,PUDUCHERRY,605008.0,no promotion,consumer

In [30]:
#Checking null values in eack column
amazon.isnull().sum()

index                0
date                 0
shipStatus           0
Fulfilment           0
serviceLevel         0
style                0
sku                  0
productCategory      0
size                 0
asin                 0
courierStatus        0
orderQuantity        0
orderAmount (INR)    0
city                 0
state                0
zip                  0
promotion            0
customerType         0
dtype: int64

# Conclusion

1. Imputed the null values

2. Removed duplicate values in the dataset

3. Date data type was assigned to the date column

<h1>Now the Dataframe is set for analysis phase</h1>

In [31]:
amazon.to_csv(r'D:\Great Lakes\Residency\Other Projects\Sales\Cleaned Ecommerce Dataset.csv')